@tailwind base;
@tailwind components;
@tailwind utilities;

.curved {
  position: relative;
  background:#050a2f;
  height: 30vh;
  border-bottom-left-radius: 50% 30%;
  border-bottom-right-radius: 50% 30%;
}